---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Services from '../components/Services';
import Process from '../components/Process';
import Contact from '../components/Contact';
import Navigation from '../components/Navigation';
import '@/styles/globals.css';
---
<script>
import LogRocket from 'logrocket';
LogRocket.init('mp0ois/kaba-digital-inc');
</script>

<Layout title="Kaba Digital Inc. | Ai Agents Consulting, UX Design, Cloud Consulting & SEO Optimization">
  <Navigation client:load />
  <main class="relative">
    <Hero client:load />
    <Services client:load />
    <Process client:load />
    <Contact client:load />
  </main>
</Layout>